<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/base.js"></script>
    <script type="text/javascript" src="static/js/timeago.js"></script>
  </head>
  <body>
    <h4>Closest Station: <span id="location"></span></h4>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Destination</th>
          <th>Time to Departure</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

  </body>
</html>
